.text-body-emphasis
{
    color: white!important;
}
.col-lg-4
{
    color: black;
    text-align: justify;
}
.intro{
  color: whitesmoke;
  text-align: justify;
  font-size: larger;
  font-weight: 500;
}
.form-label
{
  font-size:x-large;
  font-weight:480;
  color: #012466;
}
h3{
  color: #012466;
}
.form-control
{
  font-size: larger;
}
.skills
{
  text-align: center;
  font-weight: 500;
}
body
{
  background-image: url('blue+moon.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  
}
.btn{
  margin-top: 50px;
}
.contact
{
  color:white;
  font-size: larger;
  font-weight: 400;
}
.fs-4
{
  color: white;
}
.nav-link
{
  color:rgb(254, 254, 254);
}
.bg
{
  color: white;
}
.my-2
{
  color: white;
}
.col-lg-4
{
  color: white;
  text-align: justify;
  font-size: larger;
}
.contact_page
{
  background-image:url('Blue-Moon.jpg');
  background-size: 2500px 1800px ; 
  background-position: center; 
  background-repeat: no-repeat;
}
.form-label
{
  color: white;
  font-weight:500;
}
.mb-3
{
  color: white;
}